{% extends 'flag/base.html' %}
{% load static  %}
{%block content %}

  <div class="theme-inner-banner section-spacing">
    <div class="overlay">
      <div class="container">
        <h2>Student, Graduate & Training Visas</h2>
      </div> <!-- /.container -->
    </div> <!-- /.overlay -->
  </div> <!-- /.theme-inner-banner -->
  <div class="container" style="margin-bottom: 20px;">
    <p>The Australian Government provides an opportunity to all international students to study in the country but as a
      prerequisite, you’ll have to obtain a student visa first. The visa you need will depend on your age, the type of
      study you want to pursue, and how long you want to stay in Australia.

      As an international student, you would most commonly require a Student visa (subclass 500), regardless of your
      field of study.
    </p>

  </div>
 
  <div class="service-details section-spacing">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="service-content">
            <img src="{%static 'flag/images/team/student.jpg'%}" alt="" class="cover-img">
            <h3 class="main-title">Student visa subclass 500</h3>
            <p>The Student (Subclass 500) visa lets genuine international students stay in Australia for the duration of
              their study program, up to a maximum five years.
            </p>
            <p>KEY HIGHLIGHTS: </p>
            <ul>
              <li>
                1) You can be in or outside Australia to lodge a valid application for this visa.
              </li>
              <li>
                2) If you are under 18 years of age, you will also need to provide additional documents such as parental
                consent.

              </li>
              <li>
                3)You must meet health and character requirements.

              </li>


            </ul>
            <br>
            <p><em>*Please note that these are the basic requirements, speak with one of our immigration consultants for
                a detailed list of documents required for visa processing</em></p>
            <div class="presentation-section">
              <h4 class="sub-heading">This visa has two streams namely, Graduate Work Stream and Post Study Work Stream.
              </h4>
              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>620</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 620.

                    There is also a fee for each family member who applies for the visa with you.

                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>


                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>4</h1>
                  <h4>Avg. Processing Time (months)</h4>

                  <ul style="text-align: left; margin-left: 30px;">
                    <p>Processing time varies by education sector:</p>
                    <li>
                      1) Higher Education Sector: 4 months
                    </li>
                    <li>
                      2) Postgraduate Research Sector: 4-8 months
                    </li>
                    <li>
                      3) Schools Sector: 4-5 months
                    </li>
                    <li>
                      4) Independent ELICOS Sector: 2-3 months
                    </li>
                    <li>
                      5) Vocational Education and Training Sector: 3-4 Months
                    </li>
                  </ul>






                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-plane-departure" style="color: #ff2961"></i></h1>

                  <h1>5</h1>
                  <h4>Travel and Stay</h4>
                  <p style="text-align: left;">Stay in Australia for a maximum of 5 years from date of grant of visa.
                  </p>
                </div>

              </div>
            </div> <!-- /.presentation-section -->


            <div class="topics">
              <h4 class="sub-heading">Usefull Topics:</h4>
              <div class="accordion-one">
                <div class="panel-group theme-accordion" id="accordion">
                  <div class="panel">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                          1. What do I generally need to applying for your student visa for Australia?
                        </a>
                      </h6>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul>
                          <li>
                            1) Proof of enrolment (your electronic confirmation of enrolment)
                          </li>
                          <li>
                            2) A valid passport
                          </li>
                          <li>3) Your visa application fee</li>
                          <li>4) Your Genuine Temporary Entrant (GTE) statement</li>
                          <li>5) Academic and work experience documents</li>
                          <li>6) Evidence of your English proficiency skills (IELTS)</li>
                          <li>
                            7) Evidence of financial ability (tuition fees, living expenses, expenses for dependents,
                            return airfare)</li>
                          <li>8) Details of your health insurance policy (Overseas Student Health Cover )</li>
                          <li>
                            9) Statement of purpose</li>
                          <li>
                            10) Passport sized photographs</li>
                        </ul>
                        </ul>
                      </div>
                    </div>
                  </div> <!-- /panel 1 -->
                  <div class="panel">
                    <div class="panel-heading active-panel">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                          2. Applying for your visa online?
                        </a>
                      </h6>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse show">
                      <div class="panel-body">
                        <p>You will need to create an account using DIBP’s online application system – ImmiAccount to
                          complete and submit your student visa application. You can also track the status of your visa
                          through ImmiAccount once you have submitted it. You should submit your application no later
                          than six weeks before your course starts, and no earlier than 12 weeks.
                        </p>
                      </div>
                    </div>
                  </div> <!-- /panel 2 -->

                  <!-- /panel 5 -->
                </div> <!-- end #accordion -->
              </div> <!-- End of .accordion-one -->
            </div> <!-- /.topics -->

            <div class="container" style="margin-top:30px;">
              <h4>Streamlined Processing</h4>
              <br>
              <p>Some international students are eligible for streamlined processing depending on the country to which
                they belong and the college that they have received admission from. These students do not need to
                provide evidence of proficiency in the English language or evidence of sufficient funds. They only need
                to provide a declaration that they meet these requirements. Contact us if you are unsure whether you
                qualify for streamlined processing.

              </p>
              <br>
              <h4>Making sure your visa remains valid</h4>
              <br>
              <p>Once you get your visa, there are a number of things you need to do to ensure it remains valid,
                including:</p>
              <ul>
                <li>
                  1) Remain enrolled and maintain satisfactory course progress and attendance
                </li>
                <li>
                  2) Provide your Australian address to your university or college so they can contact you (don’t forget
                  to let them know if you move)
                </li>
                <li>
                  3) Continue to be able to financially support yourself while in Australia
                </li>
                <li>
                  4) Don’t breach the working conditions that apply to your visa
                </li>
              </ul>
              <br>
              <p>
                If you want to change your qualification level you will need to apply for a new student visa.</p>
            </div>


          </div> <!-- /.service-content -->
        </div><!-- /.col- -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.service-details -->


  <hr style="height: 5px;width: 50%; background: linear-gradient(to right, #fcab6d, #ff2961);">





  <div class="service-details section-spacing" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="service-content">

            <h3 class="main-title">Student Guardian visa subclass 590</h3>
            <p>The Student Guardian (Subclass 590) visa is for persons who wish to come to Australia to provide care and
              support for a student visa holder who is under 18 years of age or older due to exceptional circumstances.
            </p>

            <p>Basic eligibility for visas under this category are:</p>
            <ol>
              <li>
                This is a temporary visa. The length of your visa will be determined by the student visa holder’s stay
                and their age.
              </li>
              <li>
                You must be a parent, a custodian or a relative. If you are a relative of the student, you must be:
                <ol>
                  <li>
                    aged 21 years or older,
                  </li>
                  <li>
                    nominated in writing by a parent or person who has custody of the student.
                  </li>
                </ol>
              </li>
              <li>You can be in or outside Australia to lodge a valid application for this visa.</li>
              <li>You can care for more than one student on this visa.</li>
              <li>You can study an English Language Intensive Course for Overseas Students (ELICOS) for less than 20
                hours per week, or any other study or training for no more than 3 months.</li>
              <li>You cannot work.</li>
              <li>You can stay until the length of the student visa holder’s stay or when that student turns 18.</li>
              <li>You must be a Genuine Temporary Entrant (GTE)</li>
              <li>You must show evidence of financial ability to support yourself and the student (living expenses,
                expenses for dependents, tuition fees, return airfare)</li>
              <li>You must hold a valid health insurance policy (Overseas Visitor Health Cover)</li>
              <li>You must meet health and character requirements.</li>


            </ol>
            <br>
            <p><em>*Please note that these are the basic requirements, speak with one of our immigration consultants for
                a detailed list of documents required for visa processing</em></p>
            <br>
            <h4>Secondary Applicants</h4>
            <p>Subclass 590 visa does not allow secondary applicants unless specific circumstances exist.</p>
            <ol>
              <li>
                Children 6 years old or older can come with you but they must apply for their own student visa.
              </li>
              <li>
                Children under 6 years old can come only if
                <ol>
                  <li>
                    there are compelling and compassionate reasons or
                  </li>
                  <li>
                    granting the visa would significantly benefit the relationship between the Australian Government and
                    the government of another country
                  </li>
                </ol>

              </li>
              <li>
                Spouses and partners are not allowed as secondary applicants on this visa.
              </li>
            </ol>
            <div class="presentation-section">
            

              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>620</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 620.

                    There is also a fee for each family member who applies for the visa with you.

                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>



                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>4</h1>
                  <h4>Avg. Processing Time (months)</h4>
                  <p>Processing time for 590</p>
                  <ol style="text-align: left;">
                    <li>75% of applications: 4 Months</li>
                    <li>90% of applications: 5 Months</li>
                  </ol>

                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="far fa-user" style="color: #ff2961"></i></h1>

                  <h1>21</h1>
                  <h4>Minimum Age (years)</h4>
                  <p style="text-align: left;">You must be the student's parent, custodian or relative who is 21 years
                    or older.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- /.presentation-section -->


    </div>
  </div>



  <hr style="height: 5px;width: 50%; background: linear-gradient(to right, #fcab6d, #ff2961);">
  <div class="service-details section-spacing" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="service-content">

            <h3 class="main-title">Training visa subclass 407</h3>
            <p>The Training (Subclass 407) visa, allows you to take part in workplace-based occupational training activities to improve your skills for your job, area of tertiary study, field of expertise or in a professional development training program with a designated sponsor in Australia.
            </p>

            <p>KEY HIGHLIGHTS</p>
            <ol>
              <li>
                You may be in or outside Australia to lodge a valid application for this visa.
              </li>
              <li>This visa allows you to live in Australia to complete a workplace-based training.</li>
              <li>This is a Temporary visa and allows you to stay in Australia for up to two years.</li>
              <li>You must be at least 18 years of age unless you can demonstrate that exceptional circumstances exist.</li>
              <li>You must have a sponsor who is or has applied to be a temporary activities sponsor.</li>
              <li>You must be nominated to participate in the sponsor’s nominated program of occupational training.</li>
              <li>The nominated program must be offered as a genuine training opportunity.</li>
              <li>The nomination must meet one of the three eligibility types:
                <ol>
                  <li>Occupational training required for registration</li>
                  <li>Occupational training to enhance skills</li>
                  <li>Occupational training for capacity building overseas.</li>
                </ol>
              </li>
              <li>You must have at least ‘Functional English’.</li>
              <li>You must maintain adequate arrangements for health insurance.</li>
              <li>You must have a genuine intention to stay temporarily in Australia and for the purpose of taking part in occupational training activities.</li>
              <li>You must be able to demonstrate that you have access to sufficient funds to cover the cost of your stay in Australia.</li>
              <li>You must satisfy certain Public Interest criteria and Special Return criteria.</li>
              <li>You must meet health and character requirements.</li>

            </ol>

            <div class="presentation-section">


              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>310</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 310.

                    There is also a fee for each family member who applies for the visa with you.
                    
                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>


                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>4</h1>
                  <h4>Avg. Processing Time (months)</h4>
                  <p>Processing time for 300</p>
                  <ol style="text-align: left;">
                    <li>75% of applications: 71 days</li>
                    <li>90% of applications: 4 months</li>
                  </ol>

                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1 ><i class="fas fa-plane-departure" style="color: #ff2961"></i></h1>

                  <h1>2</h1>
                  <h4>Travel & Stay (years)</h4>
                  <p style="text-align: left;">Stay in Australia for up to 2 years and re-enter multiple times during your stay. 

                    If you are outside Australia, you can arrive in Australia until a date specified in your grant letter. Your stay period will start on your first date of arrival in Australia.
                    
                    If you are in Australia when you apply, your visa starts from the date of grant.</p>

                </div>

              </div>
            </div> <!-- /.presentation-section -->


          </div>
        </div>
      </div>
    </div>
  </div>


  <hr style="height: 5px;width: 50%; background: linear-gradient(to right, #fcab6d, #ff2961);">
  <div class="service-details section-spacing" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="service-content">

            <h3 class="main-title">Student Guardian visa subclass 590</h3>
            <p>The Student Guardian (Subclass 590) visa is for persons who wish to come to Australia to provide care and
              support for a student visa holder who is under 18 years of age or older due to exceptional circumstances.
            </p>

            <p>Basic eligibility for visas under this category are:</p>
            <ol>
              <li>
                This is a temporary visa. The length of your visa will be determined by the student visa holder’s stay
                and their age.
              </li>
              <li>
                You must be a parent, a custodian or a relative. If you are a relative of the student, you must be:
                <ol>
                  <li>
                    aged 21 years or older,
                  </li>
                  <li>
                    nominated in writing by a parent or person who has custody of the student.
                  </li>
                </ol>
              </li>
              <li>You can be in or outside Australia to lodge a valid application for this visa.</li>
              <li>You can care for more than one student on this visa.</li>
              <li>You can study an English Language Intensive Course for Overseas Students (ELICOS) for less than 20
                hours per week, or any other study or training for no more than 3 months.</li>
              <li>You cannot work.</li>
              <li>You can stay until the length of the student visa holder’s stay or when that student turns 18.</li>
              <li>You must be a Genuine Temporary Entrant (GTE)</li>
              <li>You must show evidence of financial ability to support yourself and the student (living expenses,
                expenses for dependents, tuition fees, return airfare)</li>
              <li>You must hold a valid health insurance policy (Overseas Visitor Health Cover)</li>
              <li>You must meet health and character requirements.</li>


            </ol>
            <br>
            <p><em>*Please note that these are the basic requirements, speak with one of our immigration consultants for
                a detailed list of documents required for visa processing</em></p>
            <br>
            <h4>Secondary Applicants</h4>
            <p>Subclass 590 visa does not allow secondary applicants unless specific circumstances exist.</p>
            <ol>
              <li>
                Children 6 years old or older can come with you but they must apply for their own student visa.
              </li>
              <li>
                Children under 6 years old can come only if
                <ol>
                  <li>
                    there are compelling and compassionate reasons or
                  </li>
                  <li>
                    granting the visa would significantly benefit the relationship between the Australian Government and
                    the government of another country
                  </li>
                </ol>

              </li>
              <li>
                Spouses and partners are not allowed as secondary applicants on this visa.
              </li>
            </ol>
            <div class="presentation-section">
            

              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>620</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 620.

                    There is also a fee for each family member who applies for the visa with you.

                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>



                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>4</h1>
                  <h4>Avg. Processing Time (months)</h4>
                  <p>Processing time for 590</p>
                  <ol style="text-align: left;">
                    <li>75% of applications: 4 Months</li>
                    <li>90% of applications: 5 Months</li>
                  </ol>

                </div>
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="far fa-user" style="color: #ff2961"></i></h1>

                  <h1>21</h1>
                  <h4>Minimum Age (years)</h4>
                  <p style="text-align: left;">You must be the student's parent, custodian or relative who is 21 years
                    or older.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- /.presentation-section -->


    </div>
  </div>



  <hr style="height: 5px;width: 50%; background: linear-gradient(to right, #fcab6d, #ff2961);">
  <div class="service-details section-spacing" style="margin-top: 100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-12">
          <div class="service-content">

            <h3 class="main-title">Temporary Graduate visa subclass 485</h3>
            <p>The Temporary Graduate (Subclass 485) visa allows international students to live, study and work after they have finished their studies in Australia.

              This visa has two streams namely, Graduate Work Stream and Post Study Work Stream.
            </p>

            <h4 style="color:crimson; text-align: center;">GRADUATE WORK STREAM</h4>
            <div class="presentation-section">


              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>1650</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 1650.

                    There is also a fee for each family member who applies for the visa with you.
                    
                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>


                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>5</h1>
                  <h4>Avg. Processing Time (months)</h4>
                  <p>Processing time for graduate work stream</p>
                  <ol style="text-align: left;">
                    <li>75% of applications: 4 Months</li>
                    <li>90% of applications: 5 Months</li>
                  </ol>

                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1 ><i class="fas fa-plane-departure" style="color: #ff2961"></i></h1>

                  <h1>18</h1>
                  <h4>Travel & Stay (months)</h4>
                  <p style="text-align: left;">Stay in Australia for a maximum of 18 months from date of grant of visa. Hong Kong passport holders may stay for 5 years<br></p>

                </div>

              </div>
            </div> <!-- /.presentation-section -->
            <p>KEY HIGHLIGHTS</p>
            <ol>
              <li>
                You must be in Australia to lodge a valid application for this visa.
              </li>
              <li>You either hold a valid Student visa (subclass 500) or have held a Student visa in the last 6 months before your application and now hold a Bridging Visa A, Bridging Visa B or a substantive visa. </li>
              <li>You must be under 50 years of age.</li>
              <li>You must have IELTS overall Band 6 or equivalent.</li>
              
              <li>You must satisfy the Australian study requirements in the 6 months prior to applying for this visa. i.e.
                <ol>
                  <li>course was a registered CRICOS course</li>
                  <li>you have been physically in Australia for 16 calendar months and</li>
                  <li>you have completed 2 academic years of study.</li>
                  <li>This 6-month period begins from when the results of last exam are released/notification of completion of course was made available/published.</li>
                  <li>Two diploma level courses can be combined to meet this study requirement.</li>
                 
                </ol>
              </li>
              
              <li>You must nominate an occupation in the Medium and Long-term Strategic Skills List (MLTSSL).</li>
              <li>Your completed Diploma or trade qualification must be closely related to the nominated occupation.</li>
              <li>You must provide evidence that you have applied for skills assessment in the no</li>
              <li>You must maintain adequate arrangements for health insurance.</li>
              <li>You must satisfy certain Public Interest criteria and Special Return criteria.</li>
              <li>You must meet health and character requirements.</li>
              

            </ol>



            <h4 style="color:crimson; text-align: center;">POST STUDY WORK STREAM</h4>
            <div class="presentation-section">


              <div class="row" style="margin-top: 50px; ">
                <div class="col-md-4 col-12" style="text-align: center;">
                  <h1><i class="fas fa-dollar-sign" style="color: #ff2961"></i></h1>
                  <h1>1650</h1>
                  <h4>Visa Application Fees (AUD)</h4>
                  <p style="text-align: left;">From AUD 1650.

                    There is also a fee for each family member who applies for the visa with you.
                    
                    You might also have to pay other costs for health checks, police certificates and biometrics.</p>


                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1><i class="fas fa-hourglass-start" style="color: #fcab6d"></i></h1>

                  <h1>5</h1>
                  <h4>Avg. Processing Time (months)</h4>
                  <p>Processing time </p>
                  <ol style="text-align: left;">
                    <li>75% of applications: 4 Months</li>
                    <li>90% of applications: 5 Months</li>
                  </ol>

                </div>
                <div class="col-md-4 col-12"  style="text-align: center;">
                  <h1 ><i class="fas fa-plane-departure" style="color: #ff2961"></i></h1>

                  <h1>18</h1>
                  <h4>Travel & Stay (months)</h4>
                  <p style="text-align: left;">Period of stay in Australia varies from 2 to 4 years depending on the qualification.

                    Hong Kong passport holders may stay for 5 years<br></p>
                    <ol style="text-align: left;">
                      <li>
                        Bachelor: 2 year visa period
                      </li>
                      <li>Bachelor with Honours: 2 year visa period</li>
                      <li>Master by Coursework: 2 year visa period</li>
                      <li>Master (extended): 2 year visa period</li>
                      <li>Master by Research: 3 year visa period</li>
                      <li>Doctorate: 4 year visa period.</li>
                    </ol>

                </div>

              </div>
            </div> <!-- /.presentation-section -->
            <p>KEY HIGHLIGHTS</p>
            <ol>
              <li>
                You must be in Australia to lodge a valid application for this visa.
              </li>
              <li>You either hold a valid Student visa (subclass 500) or have held a Student visa in the last 6 months before your application and now hold a Bridging Visa A, Bridging Visa B or a substantive visa. </li>
              <li>You must be under 50 years of age.</li>
              <li>You must have IELTS overall Band 6 or equivalent.</li>
              
              <li>You must satisfy the Australian study requirements in the 6 months prior to applying for this visa. i.e.
                <ol>
                  <li>course was a registered CRICOS course</li>
                  <li>you have been physically in Australia for 16 calendar months and</li>
                  <li>you have completed 2 academic years of study.</li>
                  <li>This 6-month period begins from when the results of last exam are released/notification of completion of course was made available/published.</li>
                  <li>Two diploma level courses can be combined to meet this study requirement.</li>
                 
                </ol>
              </li>
              <li>You must have completed a:
                <ol>
                  <li>Bachelor Degree;</li>
                  <li>Bachelor (Honours) Degree;</li>
                  <li>Masters by Coursework Degree;</li>
                  <li>Masters by Research Degree;</li>
                  <li>Masters (Extended) Degree and/or Doctoral Degree</li>
                 
                </ol>
              </li>
              <li>No skills assessment required. No need to nominate an occupation.</li>
              <li>You must maintain adequate arrangements for health insurance.</li>
              <li>You must satisfy certain Public Interest criteria and Special Return criteria.</li>
              <li>You must meet health and character requirements.</li>
              

            </ol>

           


          </div>
        </div>
      </div>
    </div>
  </div>


	{%endblock%}