@font-face {
    font-family: Bebas Neue;
    src: url("/static/fonts/font-faces/bebasneue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/static/fonts/font-faces/roboto/Roboto-Regular.ttf");
}

.bg {
    width: 100%;
    left: 0px;
    top: -0.48px;
    background: #0071BC;
    mix-blend-mode: normal;
}

.font-color-red{
    color: #FF3A63;
}

.font-regular{
    font-size: 22px;
}

.font-highlight-1{
    font-size: 25px;
}

.font-highlight-2{
    font-size: 40px;
}

.image-banner {
    /* position: absolute; */
    width: 100%;
    height: 721px;
    left: 0px;
    top: -3px;
    background-size: cover;

    background: url("/static/images/nursing/banner.png");
}

.group5 {
    /* Group 5 */
    position: absolute;
    /* width: 30%; */
    /* height: 5%; */
    left: 340px;
    top: 44px;
}

.group6 {
    position: absolute;
    /* width: 50%; */
    /* height: 235px; */
    left: 340px;
    top: 431px;

}

.title-main {
    /* Bachelor of Nursing */
    position: absolute;
    left: 340px;
    top: 431px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 132px;
    /* identical to box height */
    color: #FFFFFF;
}

.title-sub-2 {
    position: absolute;
    left: 340px;
    top: 543px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
}

.title-sub {
    /* FROM CHARLES STURT UNIVERSITY */
    position: absolute;
    left: 340px;
    top: 626px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;

    color: #FFFFFF;
}

.txt-headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    
    line-height: 141.19%;
}

.txt-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    line-height: 35px;

    color: #000000;
}

.mt-25 {
    margin-top: 25px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.ml{
    margin-left: 70px;
}

.course-highlight {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    line-height: 72px;

}

/* .{ text-style-1 text-style-1 text-style-1  */
.text-style-1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    line-height: 29px;

    color: #000000;
}

.course-1 {
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 96px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.course-1-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    
    line-height: 126.19%;
    /* or 50px */

    text-align: center;

    padding: 30px;

}

.course-1-txt-cross {
    background: #FF3A63;
    transform: matrix(0.98, -0.18, -0.18, -0.98, 0, 0);
}

.highlight-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    
    line-height: 35px;
    /* identical to box height */


    color: #0274BE;
}


.divider {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    /* font-size: 20px; */
    line-height: 141.19%;
    /* or 28px */


    color: #FFFFFF;
}

.text-style-1-title {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* identical to box height */
}


.strike-font {
    font-size: 22px;
}


.formbro{
    max-height: 1150px !important;
    overflow: hidden!important;
}

.form {
    width: 100%;
    border: none;
    height: 1150px !important;}

.font-regular-min{
    font-size: 20px;
}

.form-sw {
    width: 100%;
    border: none;
    height: 1330px !important;
}
.formbro-sw {
    max-height: 1320px !important;
    overflow: hidden!important;
}

@media (max-width: 991.98px) {
    .txt-headline {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        line-height: 141.19%;

    }

    .txt-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        color: #000000;
    }

    .text-style-1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
    }

    .highlight-txt {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        
        line-height: 35px;
        color: #0274BE;
    }

    .text-style-1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
    }

    .divider {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 141.19%;
        color: #FFFFFF;
    }

    .course-1-txt {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 126.19%;
        text-align: center;

        padding: 30px;
    }


    .strike-font {
        font-size: 18px;
    }

    .formbro{
        max-height: 1010px !important;
        overflow: hidden!important;
    }
    
    .form {
        width: 100%;
        border: none;
        height: 1150px !important;}

    .font-regular{
        font-size: 18px;
    }
    
    .font-highlight-1{
        font-size: 22px;
    }

    .font-highlight-2 {
        font-size: 35px;
    }

    .ml{
        margin-left: 0px;
    }

    .font-regular-min{
        font-size: 18px;
    }

    .form-sw {
        width: 100%;
        border: none;
        height: 1330px !important;
    }
    .formbro-sw {
        max-height: 1150px !important;
        overflow: hidden!important;
    }
        

}

@media (max-width: 425px) {
    .formbro{
        max-height: 1010px !important;
        overflow: hidden!important;
    }
    
    .form {
        width: 100%;
        border: none;
        height: 1150px !important;}

    .txt-headline {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        line-height: 141.19%;

    }

    .txt-content {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        color: #000000;
    }

    .text-style-1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
    }

    .highlight-txt {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        color: #0274BE;
    }

    .divider {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 141.19%;
        color: #FFFFFF;
    }

    .course-1-txt {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 126.19%;
        text-align: center;

        padding: 30px;
    }

    .text-style-1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        color: #000000;
    }

    .strike-font {
        font-size: 14px;
    }

    .font-regular{
        font-size: 16px;
    }
    
    .font-highlight-1{
        font-size: 18px;
    }

    .font-highlight-2 {
        font-size: 30px;
    }

    .ml{
        margin-left: 0px;
    }
    
    .font-regular-min{
        font-size: 16px;
    }
    
    
}