{%extends 'base.html'%}


{%block content%}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="margin-bottom: 100px; margin-top: 100px;">

 {% include 'includes/alerts.html' %}
 <div class="container">
    <div class="row">
    <nav class="col-5">
        <center>
            {% include 'includes/dashboard_sidebar.html' %}
        </center>
       
    </nav>
        <main class="col-md-7" >
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Password</strong>
                
            </header>
            <div class="card-body">
        
                <div class="row"> 
                    <div class="col-md-12">
                        <form action="{%url 'change_password'%}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                           
                            
                                <div class="form-group">
                                    <label for="">Current Password</label>
                                    <input type="password" name="current_password" class="form-control">
                                </div>
                               
                          
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">New Password</label>
                                        <input type="password" name="new_password" class="form-control">
                                    </div>
                             
                                    <div class="col form-group">
                                        <label for="">Confirm Password</label>
                                        <input type="password" name="confirm_password" class="form-control">
                                    </div>
                                </div>
                                
                                
                           
                     <input type="submit" name="" value="Save" class="btn" style="background: linear-gradient(to right, #fcab6d, #ff2961); color: white; font-size: 20px;">
                                </form>
                      
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
             <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
{%endblock%}