{% load i18n static django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#061948">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#061948">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#061948">
    <!-- <title>Visa Alliance</title> -->
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="{%static 'images/VisaLogo/logo-.ico'%}">
    <!-- Main style sheet -->
    <!-- <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}"> -->
    <!--Feature CSS-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/landingpage.css'%}">
    <!-- <link rel="stylesheet" type="text/css" href="{%static 'css/responsive.css'%}"> -->
    <!-- responsive style sheet -->
    <!-- <link rel="stylesheet" type="text/css" href="{%static 'css/responsive.css'%}"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script>

    <script id="anz-snippet" src="https://searchmyanzsco.com.au/js/anzsco_widget.js?key=WUpfB3O0rug="> </script>
    <!-- End of  SM-ANZSCO Widget script -->
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script&display=swap" rel="stylesheet">

    <!-- Start of SM-ANZSCO Widget script -->
    <script id="anz-snippet" src="https://searchmyanzsco.com.au/js/anzsco_widget.js?key=WUpfB3O0rug="> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- End of  SM-ANZSCO Widget script -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199974254-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-199974254-1');
    </script>

    <script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "Corporation",
		"name": "Visa Alliance Australia",
		"alternateName": "VisaAlliance",
		"url": "https://visaalliance.com.au/",
		"@id": "https://visaalliance.com.au/#visaalliance",
		"logo": "https://www.visaalliance.com.au/",
		},
		"contactPoint": {
			"@type": "ContactPoint",
			"contactType": "Contact",
			"telephone": "+61 2-8957-0827",
			"email": "admin@visaalliance.com.au"
		},
		"sameAs": [
			"https://www.facebook.com/VisaAllianceAustralia",
			"https://www.instagram.com/visa_alliance_au/"
		]
		}
	</script>

    <title>Masters Of SocialWork</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="banner">
        <img class="img-fluid" src="{% static 'images/masters_socialwork/masters-socialwork.png' %}">
    </div>

    <div class="container mt-3">
        <div class="mt-3">
            <div class="col-sm-12">
                <div class="formbro">
                    <iframe class="form" src="https://visaalliance.agentcisapp.com/online-form/csu-nursing-lead-form"
                        frameborder="0" onload="window.parent.scrollTo(0,0)"></iframe>
                </div>
            </div>
        </div>
        <div>
            <div class="mt-3">
                <p class="font-regular txt-content">The Bachelor of Nursing from Charles Sturt University has led the
                    way for nurses
                    for
                    more than 30 years. Our
                    undergraduate students are part of the university's proud nursing tradition, joining the ranks of
                    Charles
                    Sturt University graduates across Australia who are known for their resilience, versatility and
                    adaptability. You'll graduate industry-ready and prepared for your role as a registered nurse.</p>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row mt-3">
            <div class="col-sm-12 font-highlight-1 divider mt-3" style="background: #0274BE;">
                Be the catalyst for change in the community. Progress your career in social work
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Duration
                </div>
                <ul class="font-regular list-unstyled text-style-1">
                    <li><b>2 Years Full Time</b></li>
                </ul>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Master</div>
                <ul class="font-regular list-unstyled text-style-1">
                    <li><b>CRICOS Code: 082661F Australian</b></li>
                    <li><b>Qualification Framework: 9</b></li>
                </ul>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Available at</div>
                <p class="font-regular text-style-1"><b>ACAP Sydney, ACAP Melbourne</b></p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Study modes</div>
                <p class="font-regular text-style-1"><b> Campus </b></p>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Entry requirements
                </div>
                <ul class="font-regular list-unstyled text-style-1">
                    <li><b>Domestic</b></li>
                    <li><b>International</b></li>
                </ul>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Fees</div>
                <ul class="font-regular list-unstyled text-style-1">
                    <li><b>Domestic</b></li>
                    <li><b>International</b></li>
                    <li><b>Fee help available</b></li>
                </ul>
            </div>
            <div class="col-sm-12 mt-3">
                <div class="highlight-txt font-highlight-1"><span class="font-color-red">|</span>Professional
                    Accreditation</div>
                <ul class="font-regular list-unstyled text-style-1">
                    <li><b>Australian Social Work Education and Accreditation Standards (ASWEAS)</b></li>
                    <li><b>Australian Association of Social Workers (AASW)</b></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container mb-150">
        <div class="mt-3">
            <div class="font-highlight-2 font-color-red course-highlight text-uppercase">
                OVERVIEW
            </div>
            <div class="font-regular-min text-style-1">
                <p>If you’re already working in the human and community services sector, love what you do and are
                    looking for a postgraduate qualification in social work, this is your course. Our Master of Social
                    Work (Qualifying) gives you a deep insight into why we think and act the way we do, and the skills
                    and knowledge you need to develop your professional identity as a social worker.</p>

                <p>This is an Australian Association of Social Workers (AASW) accredited qualification. It is an entry
                    qualification into the social work profession and meets the Australian Social Work Education and
                    Accreditation Standards (ASWEAS). The accrediting body may have additional requirements, including
                    minimum English language, to meet professional accreditation standards. For more information on
                    meeting those requirements visit aasw.asn.au</p>

                <p>This course has been accredited by TEQSA.</p>
            </div>
        </div>
    </div>

</body>

</html>